body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin: 0;
    background-color:white;
}
/*Global*/
.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;   
}

header{
    background-color:black;
    color: brown;
    padding: 10px 0px 0px 0px;
    min-height: 80px;
    border-bottom: brown 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

header li{
     float: left;
     display: inline;
      padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}
header #branding h1{
    margin: 0;

}
header nav{
float: right;
margin-top: 10px;
}

header .current a{
color: brown;
font-weight:bold;
}

header a:hover{
    color: brown;
    font-weight: bold;

}

#showcase{
    min-height: 300px;
    background-color: rgb(12, 175, 187);
    text-align: center;
    color: white;
    margin-bottom: 30px;
    
}

#showcase h1{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 10px;

}
#showcase p{
    font-size: 20px;   
}
.button{
	font-family: "tahoma", sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	border: none;
	color: white;
	background-color: brown;
	padding: 15px;
    border-radius: 5px;

}
.button:hover{
	cursor: pointer;

}

.button:active{
	background-color: coral;

}

/*Boxes */
#boxes{
    margin-top: 20px;

}
#boxes .box{
   float: left;
   width: 30%;
   padding: 10px;
   text-align: center;  
}
#boxes .box img{
    width: 90px;
}
.footer{
	background-color: brown;
	overflow: hidden;
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: none;
}

/* setting the dimension of the form*/
.form-border{
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
}

.form-frame{
    position: relative;
    max-width: 360px;
    margin: 50px auto 10px;
    padding: 45px;
    text-align: center;
 }
.form input{
   font-family: "tahoma", sans-serif;
   outline: 1;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   font-size: 14px;
}

.form label{
    float: left;
}

.form select{
    font-family: "tahoma", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}

#sidebar{
   float: left;
   width: 20%;
   margin-top: 10px; 
   padding: 15px;
   color: white;
   background-color: black;
   margin: 30px;
   text-align: center;
}

#main .about p{
    float: left;
    margin: 30px;
}
@media( max-width: 760px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    aside #sidebar,
    article #main{
        float: none;
        text-align: center;
        width: 100%;

    }
    header{
        padding-bottom: 20px;  
    }
    #showcase h1{
        margin-top: 40px;
    }
}